*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/app/release/app-release.apk
/app/release/output-metadata.json
/app/src/androidTest/java/com/blazecode/eventtool/ExampleInstrumentedTest.kt
/app/src/main/res/values-land/dimens.xml
/app/src/main/res/values-w600dp/dimens.xml
/app/src/main/res/values-w1240dp/dimens.xml
/.idea/copyright/
/.idea/
